.button {
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 4px;
   letter-spacing: 0.5px;
   line-height: 1.25;
   color: white;
   display: inline-block;
   padding: 16px 40px;
}

.button--border {
   background: transparent;
   border: 1px #FF3F3A solid;
   padding: 15px 40px;
   color: #FF3F3A;
}

.box__cards__item {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1E212C;
}